# 1. Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].

In [6]:
class Bday_minus_five:
    
    def __init__(self):
        self.years_list = []
        
    def plus_five(self,yob):
        for i in range(6):
            self.years_list.append(yob)
            yob+=1

In [8]:
obj = Bday_minus_five()
yob = int(input("Enter YOB: "))
obj.plus_five(yob)
obj.years_list

Enter YOB: 1995

[1995, 1996, 1997, 1998, 1999, 2000]

# 2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

In [11]:
class Bday_minus_five:
    
    def __init__(self):
        self.years_list = []
        
    def plus_five(self,yob):
        for i in range(6):
            self.years_list.append(yob)
            yob+=1
    def third_bday(self):
        return self.years_list[3]

In [12]:
obj = Bday_minus_five()
yob = int(input("Enter YOB: "))
obj.plus_five(yob)
obj.third_bday()

Enter YOB: 1995

1998

# 3.In the years list, which year were you the oldest?

In [17]:
class Bday_minus_five:
    
    def __init__(self):
        self.years_list = []
        
    def plus_five(self,yob):
        for i in range(6):
            self.years_list.append(yob)
            yob+=1
    def oldest(self):
        oldest = len(self.years_list)
        return self.years_list[oldest-1]

In [18]:
obj = Bday_minus_five()
yob = int(input("Enter YOB: "))
obj.plus_five(yob)
obj.oldest()

Enter YOB: 1995

2000

# 4. Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella".

In [21]:
things = ['mozzarella','cinderella','salmonella']
things

['mozzarella', 'cinderella', 'salmonella']

# 5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

In [24]:
class Capitalize:
    
    def __init__(self):
        self.things = ['mozzarella','cinderella','salmonella']
        
    def find_capital(self):
        for i in range(len(self.things)):
            if self.things[i] == 'cinderella' or self.things[i] == 'salmonella':
                self.things[i] = self.things[i].capitalize()
                
        return self.things

In [25]:
obj = Capitalize()
obj.find_capital()

['mozzarella', 'Cinderella', 'Salmonella']

# 6. Make a surprise list with the elements "Groucho," "Chico," and "Harpo."

In [27]:
class SampleClass:
    
    def __init__(self):
        self.surprise_list = [ "Groucho", "Chico","Harpo"]
        
    def return_list(self):
                
        return self.surprise_list

In [28]:
obj = SampleClass()
obj.return_list()

['Groucho', 'Chico', 'Harpo']

# 7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [33]:
class SampleClass:
    
    def __init__(self):
        self.surprise_list = [ "Groucho", "Chico","Harpo"]
        
    def return_list(self):
        
        self.surprise_list[2]=self.surprise_list[2].lower()
        self.surprise_list.reverse()
        return self.surprise_list

In [34]:
obj = SampleClass()
obj.return_list()

['harpo', 'Chico', 'Groucho']

# 8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.

In [36]:
class e2f:
    
    def __init__(self):
        self.dict = {}
        
    def starter(self):
        self.dict['dog'] = 'chien'
        self.dict['cat'] = 'chat'
        self.dict['walrus'] = 'morse'

In [37]:
obj = e2f()
obj.starter()
obj.dict

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

# 9. Write the French word for walrus in your three-word dictionary e2f.

In [38]:
class e2f:
    
    def __init__(self):
        self.dict = {}
        
    def starter(self):
        self.dict['dog'] = 'chien'
        self.dict['cat'] = 'chat'
        self.dict['walrus'] = 'morse'

In [39]:
obj = e2f()
obj.starter()
obj.dict['walrus']

'morse'

# 10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [42]:
class e2f:
    
    def __init__(self):
        self.dict = {}
        
    def starter(self):
        self.dict['dog'] = 'chien'
        self.dict['cat'] = 'chat'
        self.dict['walrus'] = 'morse'
        
class f2e(e2f):
    
    def __init__(self):
        super().__init__()
        self.dict2 = {}
        
    def starter2(self):
        
        for i,j in self.dict.items():
            self.dict2[j] = i

In [43]:
obj = f2e()
obj.starter()
obj.starter2()
obj.dict2

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

# 11. Print the English version of the French word chien using f2e.

In [44]:
class e2f:
    
    def __init__(self):
        self.dict = {}
        
    def starter(self):
        self.dict['dog'] = 'chien'
        self.dict['cat'] = 'chat'
        self.dict['walrus'] = 'morse'
        
class f2e(e2f):
    
    def __init__(self):
        super().__init__()
        self.dict2 = {}
        
    def starter2(self):
        
        for i,j in self.dict.items():
            self.dict2[j] = i

In [45]:
obj = f2e()
obj.starter()
obj.starter2()
obj.dict2['chien']

'dog'

# 12. Make and print a set of English words from the keys in e2f.

In [46]:
class e2f:
    
    def __init__(self):
        self.dict = {}
        
    def starter(self):
        self.dict['dog'] = 'chien'
        self.dict['cat'] = 'chat'
        self.dict['walrus'] = 'morse'

In [47]:
obj = e2f()
obj.starter()
set(obj.dict.keys())

{'cat', 'dog', 'walrus'}

# 13. Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.

In [50]:
class MDict:
    
    def __init__(self):
        
        self.life = {'animals':{'cats':['Henri','Grumpy','Lucy'],'octopi':{},'emus':{}},
                    'plants':{},
                    'other':{}}

In [51]:
obj = MDict()
obj.life

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}},
 'plants': {},
 'other': {}}

# 14. Print the top-level keys of life.

In [52]:
class MDict:
    
    def __init__(self):
        
        self.life = {'animals':{'cats':['Henri','Grumpy','Lucy'],'octopi':{},'emus':{}},
                    'plants':{},
                    'other':{}}

In [53]:
obj = MDict()
obj.life.keys()

dict_keys(['animals', 'plants', 'other'])

# 15. Print the keys for life['animals'].

In [54]:
class MDict:
    
    def __init__(self):
        
        self.life = {'animals':{'cats':['Henri','Grumpy','Lucy'],'octopi':{},'emus':{}},
                    'plants':{},
                    'other':{}}

In [55]:
obj = MDict()
obj.life['animals'].keys()

dict_keys(['cats', 'octopi', 'emus'])

# 16. Print the values for life['animals']['cats']

In [56]:
class MDict:
    
    def __init__(self):
        
        self.life = {'animals':{'cats':['Henri','Grumpy','Lucy'],'octopi':{},'emus':{}},
                    'plants':{},
                    'other':{}}

In [57]:
obj = MDict()
obj.life['animals']['cats']

['Henri', 'Grumpy', 'Lucy']