In [1]:
import mysql.connector as conn

# Q-1. Write an SQL query to fetch “FIRST_NAME” from Worker table using the alias name as 'WORKER_NAME'

In [2]:
mydb = conn.connect(host='localhost',user='root',passwd='root')

In [3]:
cursor = mydb.cursor()

In [4]:
#Create database
cursor.execute("create database test1")

In [5]:
cursor.execute("show databases")

In [6]:
cursor.fetchall()

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('test1',),
 ('testsudh',),
 ('world',)]

In [12]:
#create table
cursor.execute("use test1")
cursor.execute("create table test1.worker(workerid INT(10),FIRST_NAME VARCHAR(30),DEPARTMENT VARCHAR(30))")
cursor.execute("show tables")
cursor.fetchall()

[('worker',)]

In [14]:
#insert data
cursor.execute("insert into test1.worker values (1,'soham','ineuron')")
cursor.execute("insert into test1.worker values (2,'ram','ineuron')")
cursor.execute("insert into test1.worker values (3,'mohan','ineuron')")
mydb.commit()

In [19]:
cursor.execute("insert into test1.worker values (4,'soham','ineuron')")
cursor.execute("insert into test1.worker values (5,'ram','ineuron')")
cursor.execute("insert into test1.worker values (6,'mohan','ineuron')")
mydb.commit()

In [20]:
cursor.execute("select FIRST_NAME as WORKER_NAME from test1.worker")
cursor.fetchall()

[('soham',), ('ram',), ('mohan',), ('soham',), ('ram',), ('mohan',)]

# Q-2. Write an SQL query to fetch unique values of DEPARTMENT from Worker table.

In [21]:
cursor.execute("select distinct DEPARTMENT from test1.worker ")

In [22]:
cursor.fetchall()

[('ineuron',)]

# Q-3. Write an SQL query to show the last 5 record from a table.

In [24]:
cursor.execute("select * from test1.worker order by workerid desc limit 5")

In [25]:
cursor.fetchall()

[(6, 'mohan', 'ineuron'),
 (5, 'ram', 'ineuron'),
 (4, 'soham', 'ineuron'),
 (3, 'mohan', 'ineuron'),
 (2, 'ram', 'ineuron')]