# Preprocessing

In [30]:
import mysql.connector as conn 
mydb = conn.connect(host='localhost',user='root',passwd='root')

In [31]:
cursor = mydb.cursor(buffered=True)

In [32]:
#Create database
cursor.execute("create database test1")

In [33]:
cursor.execute("show databases")
cursor.fetchall()

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('test1',),
 ('testsudh',),
 ('world',)]

In [34]:
#create table
cursor.execute("use test1")
cursor.execute("create table test1.worker(workerid INT(10),F_NAME VARCHAR(10),SALARY int(10),primary key(workerid))")
cursor.execute("show tables")
cursor.fetchall()

[('worker',)]

In [35]:
#insert data
cursor.execute("insert into test1.worker values (1,'soham',5000)")
cursor.execute("insert into test1.worker values (2,'ram',4000)")
cursor.execute("insert into test1.worker values (3,'shyam',6500)")
cursor.execute("insert into test1.worker values (4,'robin',5000)")
cursor.execute("insert into test1.worker values (5,'batman',8200)")
mydb.commit()

In [36]:
cursor.execute("select * from test1.worker")
cursor.fetchall()

[(1, 'soham', 5000),
 (2, 'ram', 4000),
 (3, 'shyam', 6500),
 (4, 'robin', 5000),
 (5, 'batman', 8200)]

# Q-1. Write an SQL query to determine the 5th highest salary without using TOP or limit method.

In [39]:
cursor.execute("select * from test1.worker a where(5) = (select count(SALARY) from test1.worker b where a.SALARY <=b.SALARY)")

In [40]:
cursor.fetchall()

[(2, 'ram', 4000)]

# Q-2. Write an SQL query to fetch the list of employees with the same salary.

In [41]:
cursor.execute("select * from test1.worker where SALARY in (select SALARY from test1.worker group by SALARY having count(*)>1)")

In [42]:
cursor.fetchall()

[(1, 'soham', 5000), (4, 'robin', 5000)]

In [43]:
cursor.close()
mydb.close()