# Pre-processing

In [2]:
import mysql.connector as conn 
mydb = conn.connect(host='localhost',user='root',passwd='root')

In [3]:
cursor = mydb.cursor()

In [4]:
#Create database
cursor.execute("create database test1")

In [5]:
cursor.execute("show databases")

In [6]:
cursor.fetchall()

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('test1',),
 ('testsudh',),
 ('world',)]

In [7]:
#create table
cursor.execute("use test1")
cursor.execute("create table test1.worker(workerid INT(10),FIRST_NAME VARCHAR(30),DEPARTMENT VARCHAR(30))")
cursor.execute("show tables")
cursor.fetchall()

[('worker',)]

In [8]:
#insert data
cursor.execute("insert into test1.worker values (1,'soham','ineuron')")
cursor.execute("insert into test1.worker values (2,'ram','ineuron')")
cursor.execute("insert into test1.worker values (3,'mohan','ineuron')")
cursor.execute("insert into test1.worker values (4,'soham','ineuron')")
cursor.execute("insert into test1.worker values (5,'ram','ineuron')")
cursor.execute("insert into test1.worker values (6,'mohan','ineuron')")
mydb.commit()

# Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker table.

In [9]:
cursor.execute("select substring(First_Name,1,3) from test1.worker")
cursor.fetchall()

[('soh',), ('ram',), ('moh',), ('soh',), ('ram',), ('moh',)]

#  Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name column ‘Amitabh’ from Worker table.

In [10]:
cursor.execute("insert into test1.worker values (6,'Amitabh','ineuron')")
mydb.commit()

In [12]:
cursor.execute("select FIRST_NAME as WORKER_NAME from test1.worker")
cursor.fetchall()

[('soham',),
 ('ram',),
 ('mohan',),
 ('soham',),
 ('ram',),
 ('mohan',),
 ('Amitabh',)]

In [13]:
cursor.execute("select position('a' in FIRST_NAME) from test1.worker")
cursor.fetchall()

[(4,), (2,), (4,), (4,), (2,), (4,), (1,)]

# Q-3. Write an SQL query to print the name of employees having the highest salary in each department.

In [14]:
cursor.execute("alter table test1.worker add salary INT(10)")
mydb.commit()

In [15]:
#insert data
cursor.execute("insert into test1.worker values (7,'soham','ineuron',1000)")
cursor.execute("insert into test1.worker values (8,'ram','ineuron',1200)")
cursor.execute("insert into test1.worker values (9,'mohan','ineuron',500)")
cursor.execute("insert into test1.worker values (10,'soham','ineuron',1100)")
cursor.execute("insert into test1.worker values (11,'ram','ineuron',1231321)")
cursor.execute("insert into test1.worker values (12,'mohan','ineuron',200)")
mydb.commit()

In [16]:
cursor.execute("select FIRST_NAME from test1.worker where salary=(select max(salary) from test1.worker)")
cursor.fetchall()

[('ram',)]