# Preprocessing

In [1]:
import mysql.connector as conn 
mydb = conn.connect(host='localhost',user='root',passwd='root')

In [2]:
cursor = mydb.cursor(buffered=True)

In [3]:
#Create database
cursor.execute("create database test1")

In [4]:
cursor.execute("show databases")
cursor.fetchall()

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('test1',),
 ('testsudh',),
 ('world',)]

In [5]:
#create table
cursor.execute("use test1")
cursor.execute("create table test1.worker(workerid INT(10),FIRST_NAME VARCHAR(30),DEPARTMENT VARCHAR(30),SALARY INT(10))")
cursor.execute("show tables")
cursor.fetchall()

[('worker',)]

In [6]:
#insert data
cursor.execute("insert into test1.worker values (1,'soham  ','ineuron',12312)")
cursor.execute("insert into test1.worker values (2,'ram  ','ineuron',3411)")
cursor.execute("insert into test1.worker values (3,'mohan','ineuron',45345)")
cursor.execute("insert into test1.worker values (4,'sam','ineuron',55345)")
cursor.execute("insert into test1.worker values (5,'robin','ineuron',5345)")
mydb.commit()

In [7]:
cursor.execute("select * from test1.worker")
cursor.fetchall()

[(1, 'soham  ', 'ineuron', 12312),
 (2, 'ram  ', 'ineuron', 3411),
 (3, 'mohan', 'ineuron', 45345),
 (4, 'sam', 'ineuron', 55345),
 (5, 'robin', 'ineuron', 5345)]

# Q-1. Write an SQL query to print the FIRST_NAME from Worker table after replacing ‘a’ with ‘A’.

In [8]:
cursor.execute("update test1.worker set FIRST_NAME  = replace(FIRST_NAME,'a','A')")

In [9]:
mydb.commit()

In [10]:
cursor.execute("select FIRST_NAME from test1.worker")
cursor.fetchall()

[('sohAm  ',), ('rAm  ',), ('mohAn',), ('sAm',), ('robin',)]

# Q-2. Write an SQL query to print all Worker details from the Worker table order by FIRST_NAME Ascending and DEPARTMENT Descending.

In [11]:
cursor.execute("select * from test1.worker order by FIRST_NAME,DEPARTMENT desc")

In [12]:
cursor.fetchall()

[(3, 'mohAn', 'ineuron', 45345),
 (2, 'rAm  ', 'ineuron', 3411),
 (5, 'robin', 'ineuron', 5345),
 (4, 'sAm', 'ineuron', 55345),
 (1, 'sohAm  ', 'ineuron', 12312)]

# Q-3. Write an SQL query to fetch the names of workers who earn the highest salary.

In [13]:
cursor.execute("select FIRST_NAME,max(SALARY) as salary from test1.worker")
cursor.fetchall()

[('sohAm  ', 55345)]

In [14]:
cursor.close()
mydb.close()