# Preprocessing

In [1]:
import mysql.connector as conn
mydb = conn.connect(host='localhost',user='root',passwd = 'root')

In [2]:
cursor = mydb.cursor()

In [18]:
#Create database
cursor.execute("create database test1")

In [19]:
cursor.execute("show databases")
cursor.fetchall()

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('test1',),
 ('testsudh',),
 ('world',)]

In [20]:
#create table
cursor.execute("use test1")
cursor.execute("create table test1.worker(workerid INT(10),FIRST_NAME VARCHAR(30),emailid VARCHAR(30))")
cursor.execute("show tables")
cursor.fetchall()

[('worker',)]

In [21]:
#insert data
cursor.execute("insert into test1.worker values (1,'soham','soham@ineuron.ai')")
cursor.execute("insert into test1.worker values (2,'ram','ram@gmail.com')")
cursor.execute("insert into test1.worker values (3,'vipul','vipul@yahoo.com')")
cursor.execute("insert into test1.worker values (4,'satish','satish@yahoo.com')")
mydb.commit()

In [22]:
cursor.execute("select * from test1.worker")
cursor.fetchall()

[(1, 'soham', 'soham@ineuron.ai'),
 (2, 'ram', 'ram@gmail.com'),
 (3, 'vipul', 'vipul@yahoo.com'),
 (4, 'satish', 'satish@yahoo.com')]

# Q-1. Write an SQL query to print details of workers excluding first names, “Vipul” and “Satish” from Worker table.

In [23]:
cursor.execute("select * from test1.worker where FIRST_NAME not in ('vipul','satish')")
cursor.fetchall()

[(1, 'soham', 'soham@ineuron.ai'), (2, 'ram', 'ram@gmail.com')]

# Q-2. Write an SQL query to print details of the Workers whose FIRST_NAME ends with ‘h’ and contains six alphabets.

In [25]:
cursor.execute("select * from test1.worker where FIRST_NAME like '_____h'")
cursor.fetchall()

[(4, 'satish', 'satish@yahoo.com')]

# Q-3. Write a query to validate Email of Employee.

In [26]:
cursor.execute("select * from test1.worker where emailid not like '%_@__%.__%'")
cursor.fetchall()

[]

In [3]:
cursor.close()
mydb.close()