# Preprocessing

In [25]:
import mysql.connector as conn 
mydb = conn.connect(host='localhost',user='root',passwd='root')

In [26]:
cursor = mydb.cursor(buffered=True)

In [27]:
#Create database
cursor.execute("create database test1")

In [28]:
cursor.execute("show databases")
cursor.fetchall()

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('test1',),
 ('testsudh',),
 ('world',)]

In [29]:
#create table
cursor.execute("use test1")
cursor.execute("create table test1.worker(workerid INT(10),F_NAME VARCHAR(10),L_NAME VARCHAR(10),join_date DATE)")
cursor.execute("show tables")
cursor.fetchall()

[('worker',)]

In [30]:
#insert data
cursor.execute("insert into test1.worker values (1,'soham','kundu','2017-12-27')")
cursor.execute("insert into test1.worker values (2,'ram','kumar','2015-2-20')")
cursor.execute("insert into test1.worker values (3,'ram','khanna','2014-2-10')")
mydb.commit()

In [31]:
cursor.execute("select * from test1.worker")
cursor.fetchall()

[(1, 'soham', 'kundu', datetime.date(2017, 12, 27)),
 (2, 'ram', 'kumar', datetime.date(2015, 2, 20)),
 (3, 'ram', 'khanna', datetime.date(2014, 2, 10))]

# Q-1. Write an SQL query to print details of the Workers who have joined in Febâ€™2014.

In [32]:
cursor.execute("select * from test1.worker where year(join_date) =2014 and month(join_date)=2 ")
cursor.fetchall()

[(3, 'ram', 'khanna', datetime.date(2014, 2, 10))]

# Q-2. Write an SQL query to fetch duplicate records having matching data in some fields of a table

In [33]:
cursor.execute("select F_NAME,count(*) from test1.worker group by F_NAME having count(*) > 1")
cursor.fetchall()

[('ram', 2)]

In [35]:
cursor.execute("""select a.* from test1.worker a join(select F_NAME,count(*) from 
                 test1.worker group by F_NAME having count(*) > 1) b on a.F_NAME =b.F_NAME""")
cursor.fetchall()

[(2, 'ram', 'kumar', datetime.date(2015, 2, 20)),
 (3, 'ram', 'khanna', datetime.date(2014, 2, 10))]

# Q-3. How to remove duplicate rows from Employees table.

In [36]:
cursor.execute("select * from test1.worker")
cursor.fetchall()

[(1, 'soham', 'kundu', datetime.date(2017, 12, 27)),
 (2, 'ram', 'kumar', datetime.date(2015, 2, 20)),
 (3, 'ram', 'khanna', datetime.date(2014, 2, 10))]

In [38]:
#just for convenience using the same worker table
cursor.execute("delete r1 from test1.worker as r1 inner join test1.worker as r2 where r1.workerid < r2.workerid and r1.F_NAME = r2.F_NAME")

In [39]:
cursor.execute("select * from test1.worker")
cursor.fetchall()

[(1, 'soham', 'kundu', datetime.date(2017, 12, 27)),
 (3, 'ram', 'khanna', datetime.date(2014, 2, 10))]

In [40]:
cursor.close()
mydb.close()