# Preprocessing

In [1]:
import mysql.connector as conn 
mydb = conn.connect(host='localhost',user='root',passwd='root')

In [2]:
cursor = mydb.cursor(buffered=True)

In [3]:
#Create database
cursor.execute("create database test1")

In [4]:
cursor.execute("show databases")
cursor.fetchall()

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('test1',),
 ('testsudh',),
 ('world',)]

In [5]:
#create table
cursor.execute("use test1")
cursor.execute("create table test1.worker(workerid INT(10),F_NAME VARCHAR(10))")
cursor.execute("show tables")
cursor.fetchall()

[('worker',)]

In [6]:
#insert data
cursor.execute("insert into test1.worker values (1,'soham')")
cursor.execute("insert into test1.worker values (2,'ram')")
cursor.execute("insert into test1.worker values (3,'shyam')")
cursor.execute("insert into test1.worker values (4,'robin')")
cursor.execute("insert into test1.worker values (5,'batman')")


mydb.commit()

In [7]:
cursor.execute("select * from test1.worker")
cursor.fetchall()

[(1, 'soham'), (2, 'ram'), (3, 'shyam'), (4, 'robin'), (5, 'batman')]

# Q-1. Write an SQL query to show only odd rows from a table.

In [8]:
cursor.execute("select * from test1.worker group by workerid having mod(workerid,2)=1")

In [9]:
cursor.fetchall()

[(1, 'soham'), (3, 'shyam'), (5, 'batman')]

# Q-2. Write an SQL query to clone a new table from another table.

In [10]:
cursor.execute("create table new_table select * from test1.worker")

In [11]:
cursor.execute("select * from new_table")

In [12]:
cursor.fetchall()

[(1, 'soham'), (2, 'ram'), (3, 'shyam'), (4, 'robin'), (5, 'batman')]

In [3]:
cursor.close()
mydb.close()