# Preprocessing

In [1]:
import mysql.connector as conn 
mydb = conn.connect(host='localhost',user='root',passwd='root')

In [2]:
cursor = mydb.cursor(buffered=True)

In [3]:
#Create database
cursor.execute("create database test1")

In [4]:
cursor.execute("show databases")
cursor.fetchall()

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('test1',),
 ('testsudh',),
 ('world',)]

In [5]:
#create table
cursor.execute("use test1")
cursor.execute("create table test1.worker(workerid INT(10),F_NAME VARCHAR(10),primary key(workerid))")
cursor.execute("show tables")
cursor.fetchall()

[('worker',)]

In [6]:
#insert data
cursor.execute("insert into test1.worker values (1,'soham')")
cursor.execute("insert into test1.worker values (2,'ram')")
cursor.execute("insert into test1.worker values (3,'shyam')")
cursor.execute("insert into test1.worker values (4,'robin')")
cursor.execute("insert into test1.worker values (5,'batman')")
mydb.commit()

In [9]:
cursor.execute("select * from test1.worker")
cursor.fetchall()

[(1, 'soham'), (2, 'ram'), (3, 'shyam'), (4, 'robin'), (5, 'batman')]

In [7]:
#create table
cursor.execute("use test1")
cursor.execute("create table test1.worker1(workerid INT(10),F_NAME VARCHAR(10),primary key(workerid))")
cursor.execute("show tables")
cursor.fetchall()

[('worker',), ('worker1',)]

In [10]:
#insert data
cursor.execute("insert into test1.worker1 values (1,'soham')")
cursor.execute("insert into test1.worker1 values (5,'ram')")
cursor.execute("insert into test1.worker1 values (2,'shyam')")
cursor.execute("insert into test1.worker1 values (6,'robin')")
cursor.execute("insert into test1.worker1 values (3,'batman')")
mydb.commit()

In [11]:
cursor.execute("select * from test1.worker1")
cursor.fetchall()

[(1, 'soham'), (2, 'shyam'), (3, 'batman'), (5, 'ram'), (6, 'robin')]

# Q-1. Write an SQL query to fetch intersecting records of two tables.

In [12]:
cursor.execute("select * from test1.worker inner join test1.worker1 on test1.worker.workerid = test1.worker1.workerid ")

In [13]:
cursor.fetchall()

[(1, 'soham', 1, 'soham'),
 (2, 'ram', 2, 'shyam'),
 (3, 'shyam', 3, 'batman'),
 (5, 'batman', 5, 'ram')]

# Q-2. Write an SQL query to show records from one table that another table does not have.

In [14]:
cursor.execute("select * from test1.worker left join test1.worker1 on test1.worker.workerid = test1.worker1.workerid")

In [15]:
cursor.fetchall()

[(1, 'soham', 1, 'soham'),
 (2, 'ram', 2, 'shyam'),
 (3, 'shyam', 3, 'batman'),
 (4, 'robin', None, None),
 (5, 'batman', 5, 'ram')]

In [16]:
cursor.close()
mydb.close()