# Preprocessing

In [14]:
import mysql.connector as conn 
mydb = conn.connect(host='localhost',user='root',passwd='root')

In [15]:
cursor = mydb.cursor(buffered=True)

In [16]:
#Create database
cursor.execute("create database test1")

In [17]:
cursor.execute("show databases")
cursor.fetchall()

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('test1',),
 ('testsudh',),
 ('world',)]

In [18]:
#create table
cursor.execute("use test1")
cursor.execute("create table test1.worker(workerid INT(10),F_NAME VARCHAR(10),SALARy int(10),primary key(workerid))")
cursor.execute("show tables")
cursor.fetchall()

[('worker',)]

In [19]:
#insert data
cursor.execute("insert into test1.worker values (1,'soham',5000)")
cursor.execute("insert into test1.worker values (2,'ram',4000)")
cursor.execute("insert into test1.worker values (3,'shyam',6500)")
cursor.execute("insert into test1.worker values (4,'robin',5700)")
cursor.execute("insert into test1.worker values (5,'batman',8200)")
mydb.commit()

In [20]:
#insert data
cursor.execute("insert into test1.worker values (6,'jadhu',2000)")
cursor.execute("insert into test1.worker values (7,'madhu',3500)")
cursor.execute("insert into test1.worker values (8,'saraswati',4300)")
cursor.execute("insert into test1.worker values (9,'vishnu',7800)")
cursor.execute("insert into test1.worker values (10,'somesh',8100)")
cursor.execute("insert into test1.worker values (11,'sudesh',9100)")

mydb.commit()

In [21]:
cursor.execute("select * from test1.worker")
cursor.fetchall()

[(1, 'soham', 5000),
 (2, 'ram', 4000),
 (3, 'shyam', 6500),
 (4, 'robin', 5700),
 (5, 'batman', 8200),
 (6, 'jadhu', 2000),
 (7, 'madhu', 3500),
 (8, 'saraswati', 4300),
 (9, 'vishnu', 7800),
 (10, 'somesh', 8100),
 (11, 'sudesh', 9100)]

# Q-1.  Write an SQL query to show the top n (say 10) records of a table.

In [22]:
cursor.execute("select * from test1.worker limit 10")

In [23]:
cursor.fetchall()

[(1, 'soham', 5000),
 (2, 'ram', 4000),
 (3, 'shyam', 6500),
 (4, 'robin', 5700),
 (5, 'batman', 8200),
 (6, 'jadhu', 2000),
 (7, 'madhu', 3500),
 (8, 'saraswati', 4300),
 (9, 'vishnu', 7800),
 (10, 'somesh', 8100)]

# Q-2. Write an SQL query to determine the nth (say n=5) highest salary from a table.

In [29]:
cursor.execute("select distinct SALARY from test1.worker order by SALARY desc limit 1 offset 4")

In [30]:
cursor.fetchall()

[(6500,)]

In [31]:
cursor.close()
mydb.close()